@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --second-color: rgb(0, 0, 0);
    --back-color: rgb(240, 240, 240);
    --cover-icon-width: calc(3em + 2vw);
}

body, 
html {
    background-color: var(--back-color);
    font-size: calc(0.96428571rem + 0.17857143vw);
}

h1 {
    font-size: calc(1.60714286rem + 1.96428571vw);
}

img {
    width: 100%;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* Header  */
header {
    position: sticky;
    top: 0;
    display: grid;
    margin: 0 5%;
    grid-template-columns: 2fr 1fr;
}

.header-image {
    width: 100px;
}

.header-title a {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-links a {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5vw;
}

.header-links a:hover, 
.header-links a:active {
    text-decoration: underline;
    filter: drop-shadow(1px 1px 5px rgb(179, 179, 179));
}

/* Cover */
#cover {
    width: 80%;
    margin: 10vw auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 30%;
}

#links ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

#links img:hover {
    background-color: rgba(180, 180, 180, 0.7);
}

#links img:active {
    background-color: rgba(180, 180, 180, 0.9);
}

#cover-text {
    text-align: center;
    display: grid;
    align-content: center;
}

#title {
    margin: 30px 0;
}

#cover-image img {
    border-radius: 100%;
    filter: drop-shadow(0 0 10px black);
}

.cover-img-icon {
    width: var(--cover-icon-width);
    border-radius: 100%;
    background-color:rgba(218, 218, 218, 0.9);
    padding: 10px;
}

@media screen and (max-width: 600px) {
    #cover {
        width: 80%;
        margin: 10vw auto;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 70%;
    }

    #cover-image {
        grid-row: 1 / span 1;
    }

    .header-title h2 {
        display: none;
    }
}