@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --prime-color: rgb(255, 232, 169);
    --second-color: rgb(0, 104, 0);
    --back-color: rgb(0, 37, 0);
    --cover-icon-width: 80px;
}

body {
    background-color: var(--back-color);
}

img {
    width: 100%;
}

/* Header */
#cover {
    display: grid;
    height: 700px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#title {
    font-size: 4rem;
    margin: 20px 0;
}

#cover-text {
    text-align: center;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-content: center;
}

#links ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

#links img:hover {
    background-color: rgba(180, 180, 180, 0.7);
}

#links img:active {
    background-color: rgba(180, 180, 180, 0.9);
}

.cover-img-icon {
    width: var(--cover-icon-width);
    background-color: rgba(180, 180, 180, 0.4);
    border-radius: 15px;
    padding: 5px;

}

